<!-- 导航栏 -->
<ol class="breadcrumb">
  <li class="active">全部技术方向 <kbd><%= @tag_itskills.count %></kbd></li>
</ol>


<!-- 技术方向搜索 -->
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <td>排名</td>
      <td>技术方向</td>
      <td>相关工作时长</td>
      <td>相关工作记录数</td>
    </tr>
  </thead>
  <tbody>
    <% t=0 %>
    <% @tag_itskills.each do |tag| %>
    <% t+=1 %>
      <tr>
        <td><%= t %></td>
        <td>
          <%= link_to admin_tag_itskill_path(tag) do %>
            <kbd><%= tag.name %></kbd>
          <% end %>
        </td>
        <td><code><%= tag.total_hours %>h</code></td>
        <td><%= tag.project_workflows.count %></td>      
      </tr>
    <% end %>
  </tbody>
</table>

<!-- 分页 -->
<div class="text-center">
  <%= will_paginate @tag_itskills %>
</div>