<div class="row">
  <div class="col-md-12">

    <% @children_teams.each do |t| %>

      <div class="panel panel-default">
        <div class="panel-heading">
          <strong><%= link_to(t.name,week_teams_path({team_id: t})) %><kbd><%= t.users.count %></kbd> </strong> 
        </div>
        <div class="panel-body">
          <div class="row">
            <% t.users.each do |u| %>

              <div class="col-md-12">
                <span>
                  <!-- 用户链接 -->
                  <%= link_to user_path(u) do %>
                    <%= user_avatar(u,{style: "width: 20px;height: 20px;"}) %>
                    <strong><%= u.name %></strong>
                    
                  <% end %>
                  <span class="pie"><%=u.time_workloads(@start_date,@end_date)%>/40</span>                
                </span>
              </div>
            
            <% end %>
          </div>
        </div>   
      </div>

    <% end %>


  </div>
</div>

<!-- 未提交周报提示 -->
<script>
$("span.pie").peity("pie")
</script>