<div class="row">
  <!-- 首部信息 -->
  <div class="col-md-9">
    <!-- 导航栏 -->
    <ol class="breadcrumb">
      <!-- 周开始与结束时间 -->
      <li class="active">
        <strong><%= @current_team.name %> | </strong>
        <small>
          <%= strf(@start_date) %> ~ <%= strf(@end_date) %>  
        </small>
      </li>
      <%= link_to week_teams_path(start_date: @start_date,end_date: @end_date,format: "xls"),class: 'pull-right',title: '导出工作量'  do%>
        <span class="glyphicon glyphicon-save"></span>
      <% end %>
    </ol>



    <!-- 模态框 -->
    <%#= render 'dialogforms/project_workflow_dialog.html.erb' %>





    <!-- 本周的 feeds -->
    <%= render 'common/feeds' %>

  </div>


  <!-- 右侧边 -->
  <div class="col-md-3 hidden-xs hidden-sm">
    <%= render 'team_users' %>
    <%= render 'team_children' %>
    <%= render 'team_history' %>
  </div>

</div>