<!-- 导航栏 -->
<ol class="breadcrumb">
  <li><%= link_to('全部厂商',admin_tag_itvendors_path) %></li>
  <li class="active"><%= @tag_itvendor.name %></li>
</ol>

<h1><%= @tag_itvendor.name %></h1>

<table>
  <tr>
    <td>相关工作时长: </td>
    <td> <code><%= @tag_itvendor.total_hours %>h</code></td>
  </tr>
  <tr>
    <td>相关工作记录数: </td>
    <td> <code><%= @tag_itvendor.project_workflows.count %>条</code></td>
  </tr>
</table>


<hr>
<!-- 本周的 feeds -->
<%= render 'common/feeds' %>

<!-- 分页 -->
<div class="text-center">
  <%= will_paginate @feeds %>
</div>