<div class="row">
  <!-- 首部信息 -->
  <div class="col-md-9">

    <!-- 导航栏 -->
    <ol class="breadcrumb">
      <!-- 周开始与结束时间 -->
      <li class="active">
        <small>
          <%= strf(@start_date) %> ~ <%= strf(@end_date) %>  
        </small>
      </li>


      <a href="#" class='pull-right' data-toggle="modal" data-target="#export_modal"><span class="glyphicon glyphicon-save"></span></a>



    </ol>

    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#all_feeds" aria-controls="all_feeds" role="tab" data-toggle="tab">周报</a></li>
        <li role="presentation"><a href="#all_user_feeds_sum" aria-controls="all_user_feeds_sum" role="tab" data-toggle="tab">提交情况</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="all_feeds">

          <!-- 本周的 feeds -->
          <%= render 'common/feeds' %>

          <!-- 分页 -->
          <div class="text-center">
            <%= will_paginate @feeds %>
          </div>
          
        </div>
        <div role="tabpanel" class="tab-pane" id="all_user_feeds_sum">
          <%= render 'all_user_feeds_sum' %>
        </div>

      </div>

    </div>





  </div>

  <!-- 右侧边 -->
  <div class="col-md-3 hidden-xs hidden-sm">
    <%= render 'admin_history' %>
  </div>

</div>








<!-- Modal -->
<div class="modal fade" id="export_modal" tabindex="-1" role="dialog" aria-labelledby="export_modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="export_modalLabel">导出xls</h4>
      </div>
      <div class="modal-body">
        

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon-start">起始时间</span>
          <input id="flatpickr_begin_time" class="form-control" placeholder="点击选择日期" aria-describedby="basic-addon-start">
        </div>

        <br>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon-end">结束时间</span>
          <input id="flatpickr_end_time" class="form-control" placeholder="点击选择日期" aria-describedby="basic-addon-start">
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" id="export_xls" class="btn btn-primary" data-dismiss="modal">导出</button>
      </div>
    </div>
  </div>
</div>



<script>
  


$(document).ready(function() {


  // 日期选择器
  $('#flatpickr_begin_time').flatpickr({
    // wrap: true,
    defaultDate: '<%= @start_date %>'
  });
  $('#flatpickr_end_time').flatpickr({
    // wrap: true,
    defaultDate: '<%= @end_date %>'
  });


  // 导出按钮
  $('#export_xls').click(function(event) {
    url = '/admin/feeds.xls?start_date=' + $('#flatpickr_begin_time').val()+'&end_date='+$('#flatpickr_end_time').val();
    console.log(url);
    window.location.replace(url);
    // $.get(url);
  });

    
});


</script>


