<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="报工明细">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">项目号</Data></Cell>
        <Cell><Data ss:Type="String">项目名</Data></Cell>
        <Cell><Data ss:Type="String">销售事业部</Data></Cell>
        <Cell><Data ss:Type="String">工程预留</Data></Cell>
        <Cell><Data ss:Type="String">托管预留</Data></Cell>
        <Cell><Data ss:Type="String">工模费合计</Data></Cell>
        <Cell><Data ss:Type="String">劳务费用合计</Data></Cell>
        <Cell><Data ss:Type="String">人工费用合计</Data></Cell>
        <Cell><Data ss:Type="String">托管费用合计</Data></Cell>


      </Row>

      <% @projects.each do |p| %>
        <!-- 总工模合计 -->
        <% t_mould_fee = 0 %>
        <% p.project_costs.each{|c| t_mould_fee+=c.mould_fee} %>
        <!-- 总劳务合计 -->
        <% t_labor_fee = 0 %>
        <% p.project_costs.each{|c| t_labor_fee+=c.labor_fee} %>
        <!-- 总人工费合计 -->
        <% t_manual_fee = 0 %>
        <% p.project_costs.each{|c| t_manual_fee+=c.manual_fee} %>
        <!-- 总托管费合计 -->
        <% t_custodian_fee = 0 %>
        <% p.project_costs.each{|c| t_custodian_fee+=c.custodian_fee} %>

        <Row>
          <Cell><Data ss:Type="String"><%= p.code %></Data></Cell>
          <Cell><Data ss:Type="String"><%= p.name %></Data></Cell>
          <Cell><Data ss:Type="String"><%= p.sales.team.name %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= p.engineering_costs %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= p.custody_charge %></Data></Cell>

          <Cell><Data ss:Type="Number"><%= t_mould_fee %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= t_labor_fee %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= t_manual_fee %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= t_custodian_fee %></Data></Cell>

        </Row>

      <% end %>

    </Table>
  </Worksheet>

</Workbook>