<!-- 导航栏 -->
<ol class="breadcrumb">
  <li class="active">全部项目 <kbd><%= @projects.count %></kbd></li>
</ol>


<!-- 团队搜索 -->

<%= search_form_for [:admin,@q], html: {class: "navbar-form navbar-left"} do |f|  %>
  <div class="form-group">
    <%= f.search_field :name_or_code_cont, class: "form-control", placeholder: "输入项目名或项目号"  %>
    <%= f.submit '搜索',class: "btn btn-warning btn-xs" %>
    <%= link_to('+ 新建项目',new_admin_project_path,class: 'btn btn-primary btn-xs') %>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#excelImportProject">
      导入项目(xls)
    </button>
    <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#excelImportCost">
      导入费用(xls)
    </button>

  </div>
<% end %>






<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <td></td>
      <td>项目号</td>
      <td>项目名</td>
      <td>成员数</td>
      <td>销售</td>
      <td>项目经理</td>
      <td>操作</td>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |p| %>

    <% if p.enabled?  %>
      <tr>
        <td></td>
    <% else %>
      <tr class="alert alert-danger">
        <td><span class="glyphicon glyphicon-ban-circle"></span></td>
    <% end %>
      <td>
        <% if p.code.present? %>
          <strong><%= p.code %></strong>
        <% end %>
      </td>
      <td><strong><%= link_to(p.name,admin_project_path(p)) %></strong></td>
      <td><kbd><%= p.members.count %></kbd> </td>
      <td><small><%= p.sales.name %> </small> </td>
      <td>
        <% p.managers.each do |m| %>
          <code><%= m.name %></code>
        <% end %>
      </td>  
      <td><%= link_to('编辑',edit_admin_project_path(p)) %>  | <%= link_to('删除',admin_project_path(p), method: 'DELETE', data: { confirm: "确认删除该项目?" }) %> </td>
    </tr>
    <% end %>
  </tbody>

</table>

<!-- 分页 -->
<div class="text-center">
  <%= will_paginate @projects %>
</div>





<!-- 项目 -->
<div class="modal fade" id="excelImportProject" tabindex="-1" role="dialog" aria-labelledby="excelImportProjectLabel">
  <div class="modal-dialog" role="document">
    <%= form_tag import_admin_projects_path, multipart: true do %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="excelImportProjectLabel">项目导入</h4>
      </div>
      <div class="modal-body">
        <!-- 文件上传 -->
        <%= file_field_tag :file %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <%= submit_tag "导入",class:"btn btn-primary" %>
      </div>
    </div>
    <% end %>

  </div>
</div>



<!-- 费用导入 -->
<div class="modal fade" id="excelImportCost" tabindex="-1" role="dialog" aria-labelledby="excelImportCostLabel">
  <div class="modal-dialog" role="document">
    <%= form_tag importcost_admin_projects_path, multipart: true do %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="excelImportCostLabel">费用导入</h4>
      </div>
      <div class="modal-body">
        <!-- 文件上传 -->
        <%= file_field_tag :file %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <%= submit_tag "导入",class:"btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

