<!-- 导航栏 -->
<ol class="breadcrumb">
  <li class="active">全部项目 <kbd><%= @projects.count %></kbd></li>
</ol>


<!-- 团队搜索 -->

<%= search_form_for [:admin,@q], html: {class: "navbar-form navbar-left"} do |f|  %>
  <div class="form-group">
    <%= f.search_field :name_cont, class: "form-control", placeholder: "输入项目名"  %>
    <%= f.submit '搜索',class: "btn btn-warning btn-xs" %>
    <%= link_to('+ 新建项目',new_admin_project_path,class: 'btn btn-primary btn-xs') %>
  </div>
<% end %>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <td></td>
      <td>项目名</td>
      <td>成员数</td>
      <td>销售</td>
      <td>项目经理</td>
      <td>操作</td>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |p| %>

    <% if p.enabled?  %>
      <tr>
        <td></td>
    <% else %>
      <tr class="alert alert-danger">
        <td><span class="glyphicon glyphicon-ban-circle"></span></td>
    <% end %>

      <td><strong><%= link_to(p.name,admin_project_path(p)) %></strong></td>
      <td><kbd><%= p.members.count %></kbd> </td>
      <td><small><%= p.sales.name %> </small> </td>
      <td>
        <% p.managers.each do |m| %>
          <code><%= m.name %></code>
        <% end %>
      </td>  
      <td><%= link_to('编辑',edit_admin_project_path(p)) %>  | <%= link_to('删除',admin_project_path(p), method: 'DELETE', data: { confirm: "确认删除该项目?" }) %> </td>
    </tr>
    <% end %>
  </tbody>

</table>

<!-- 分页 -->
<div class="text-center">
  <%= will_paginate @projects %>
</div>
