<div class="col-xs-12">
  <!-- 用户搜索 -->
  <%= search_form_for [:wechatpage,@q], html: {class: "navbar-form navbar-left"} do |f|  %>
    <div class="input-group">
      <%= f.search_field :name_cont, class: "form-control", placeholder: "输入指定的培训名称"  %>
      <span class="input-group-btn">
        <%= f.submit '搜索',class: "btn btn-default" %>
      </span>
    </div>
  <% end %>
</div>



<div class="col-xs-12 btn_index">

  <%= link_to itvendors_index_wechatpage_training_tags_path,class: 'text-center col-xs-12 btn btn-default btn-training' do %>
    <i class="fa fa-book fa-5x" aria-hidden="true"></i>
    <br>
    <span class="lead btn-text">按厂商</span>    
  <% end %> 

  <%= link_to solutions_index_wechatpage_training_tags_path,class: 'text-center col-xs-12 btn btn-default btn-training' do %>
    <i class="fa fa-flag fa-5x" aria-hidden="true"></i>
    <br>
    <span class="lead btn-text">按技术方向</span>
  <% end %>    

  <%= link_to generals_index_wechatpage_training_tags_path,class: 'text-center col-xs-12 btn btn-default btn-training' do %>
    <i class="fa fa-users fa-5x" aria-hidden="true"></i>
    <br>
    <span class="lead btn-text">通用培训</span>
  <% end %> 
</div>


<style type="text/css">
span.btn-text{
  font-size: 2em;
}
.btn_index{
  padding: 15px;
}
.btn-training{
  padding: 20px;
  margin-bottom: 15px;
}

</style>



