<div class="row">
  <div class="col-xs-3">



    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-stacked" role="tablist">
      <li role="presentation" class="active">
        <a href="#industry_0" aria-controls="industry_0" role="tab" data-toggle="tab" class='tag_index'>全部方案</a>
      </li>
      <% @solution_tags_industry.each do |t| %>
      <li role="presentation">
        <a href="#direction_<%= t.id %>" aria-controls="direction_<%= t.id %>" role="tab" data-toggle="tab" class='tag_index'>
          <%= t.name %>
        </a>
      </li>
      <% end %>
    </ul>



  </div>
  <div class="col-xs-9">
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="industry_0">
        <%= render "all_solutions" %>
      </div>
      <!-- 解决方案 -->
      <%= render :partial => "solutionstable", :collection => @solution_tags_industry, :as => :tag %>
    </div>
  </div>
</div>    


