<div class=" col-xs-12">
  <p class="big_tilte"><span><img src="http://p123oziiu.bkt.clouddn.com/3_tree.png" width="20px" height="20px"></span> 神州信息解决方案大全</p>
  <!-- 用户搜索 -->
  <%= search_form_for [:wechatpage,@q], html: {class: "navbar-form navbar-left"} do |f|  %>
    <div class="input-group">
      <%= f.search_field :name_cont, class: "form-control", placeholder: "神州信息解决方案大全"  %>
      <span class="input-group-btn">
        <%= f.submit '搜索',class: "btn btn-default" %>
      </span>
    </div>
  <% end %>
</div>



<div class="col-xs-12">


  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#direction" aria-controls="direction" role="tab" data-toggle="tab">按技术方向</a></li>
    <li role="presentation"><a href="#industry" aria-controls="industry" role="tab" data-toggle="tab">按行业</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="direction">
      <!-- 解决方案 -->
      <%= render "direction_solutions" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="industry">
      <%= render "industry_solutions" %>
    </div>
  </div>


</div>

<style type="text/css">
.sub_tag{
  padding: 2px;
  border-radius: 0px;
  background-color: transparent;
  height: 60px;
  line-height:60px
}
.sub_tag.active{
    color: #15eefb;
    background-color: transparent;
    /*border: 1px solid #ddd;*/
    border-style: none none solid solid;
    border-color: #ddd;
    border-width: 1px;
}
.sub_tag:hover{
    color: #15eefb;
    background-color: #fff;
    /*border: 1px solid #ddd;*/
    border-style: none none solid solid;
    border-color: #ddd;
    border-width: 1px;
}
.sub_tag.active:hover{
    color: #15eefb;
    background-color: transparent;
    /*border: 1px solid #ddd;*/
    border-style: none none solid solid;
    border-color: #ddd;
    border-width: 1px;
}


.nav > li > a.tag_index{
  padding-left: 5px;
  padding-right: 0;
  font-size: 0.8em;
}


.bb{
  /*border:5px solid #0d8ef2;*/
  border-width: 1px;
  border-color: #0d8ef2;
  border-style: solid;
  padding: 20px;
}

.btn_border_style{
  border: 6px solid #0d8ef2;
  float: left;
  border-color: #0d8ef2;
}

.top_left{
  height: 20px;
  width: 20px;
  float: left;
  border-width: 1px;
  border-color: #6e93b7;
  border-style: solid none none solid;
  margin: -10px -10px;
}

.top_right{
  height: 40px;
  width: 20px;
  float: right;
  border-style: solid solid none none;
  margin: -25px -25px;
}


.bottom_left{
  height: 20px;
  width: 40px;
  float: left;
  border-style: none none solid solid;
  margin: 5px 0px -24px -24px;
}

.bottom_right{
  height: 20px;
  width: 20px;
  float: right;
  border-width: 1px;
  margin-top: -25px;
  margin-right: 0px;
  border-color: #6e93b7;
  border-style: none solid solid none;
}

.btn_content{
  border-width: 1px;
  border-color: #eee;
  border-style: none none solid none;
  padding: 10px 0 0 0;
}
/*0d8ef2*/
/*13 142 242*/
.sub_desc{
  color: #aaa;
  font-size: 10px;
/*  width: 220px;*/
  height: 70px;
  overflow:hidden;
  text-overflow:ellipsis; 
  /*background: greenyellow;*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;  
}
.small_title{
  margin-top: 0;
  font-size: 10px;
  margin-bottom: 0;
  overflow:hidden;
  text-overflow:ellipsis; 
  white-space: nowrap;/*加宽度width属来兼容部分浏览*/

}
.sm_pic{
  padding:5px 0;
}


</style>









