<div class="col-md-12">
  <!-- 导航栏 -->


  <p class="sub_tilte"><span class="glyphicon glyphicon-menu-right"></span> <%= @solution.name %></p>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span> 背景介绍</h5>
    </div>
    <div class="panel-body">
      <p class="sub_desc"><%= simple_format(@solution.background) %></p>
    </div>
  </div>



  <div class="col-xs-12 col-md-12 col-xs-12 thumbnail">
    <%= image_tag(quniuurl_pri(@solution.solution_pic_url)) %>
  </div>

  <div class="row"></div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title"><span class="glyphicon glyphicon-ok-sign"></span> 方案简介</h5>
    </div>
    <div class="panel-body">
      <p class="sub_desc"><%= simple_format(@solution.desc) %></p>
    </div>
  </div>



  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title"><span class="glyphicon glyphicon-usd"></span> 方案价值</h5>
    </div>
    <div class="panel-body">
      <p class="sub_desc"><%= simple_format(@solution.value) %></p>
    </div>
  </div>




  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title"><span class="glyphicon glyphicon-flag"></span> 典型案例</h5>
    </div>
    <div class="panel-body">
      <p class="sub_desc"><%= simple_format(@solution.success_case) %></p>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title"><span class="glyphicon glyphicon-floppy-disk"></span> 相关附件</h5>
    </div>
    <div class="panel-body">

    </div>
  </div>

    <div id="qrcode">
    </div>


</div>

<div class="col-md-12">
  <div>
    <br>
  </div>
  <div class="text-center footer">
    <%= link_to wechatpage_solutions_path do %>
    <span class="glyphicon glyphicon-home"></span> 返回目录
    <% end %>
  </div>  
</div>




<style type="text/css">
.panel{
  background-color:#000000;
  opacity: 0.5;
}
.panel{
  color: #fff
}
#qrcode img{
  margin: 0 auto
}
</style>






<script type="text/javascript">
  new QRCode(document.getElementById("qrcode"),"<%='http://daily.dcits.com/'+wechatpage_solution_path(@solution) %>"); 
</script>


<footer>

</footer>
