<div class="row">
  <!-- 个人信息 -->
  <%= render 'common/current_user_basic_info' %>
  <!-- 按钮组 -->
  <div class="col-md-12">

    <div class="list-group">
      <p>Daily</p>
      <%= link_to('工作流',admin_feeds_path, class: "list-group-item "+active_class('feeds') ) %>
      <%= link_to('用户管理',admin_users_path, class: "list-group-item "+active_class('users') ) %>
      <%= link_to('团队管理',admin_teams_path, class: "list-group-item "+active_class('teams')) %>
      <%= link_to('项目管理',admin_projects_path, class: "list-group-item "+active_class('projects')) %>
      <%= link_to('技术方向',admin_tag_itskills_path, class: "list-group-item "+active_class('tag_itskills')) %>
      <%= link_to('厂商统计',admin_tag_itvendors_path, class: "list-group-item "+active_class('tag_itvendors')) %>
      <hr>
      <p>企业号</p>
      <%= link_to('解决方案',admin_solutions_path, class: "list-group-item "+active_class('solutions')) %>
    </div>

  </div>
</div>