<div class="row">
  <!-- 个人信息 -->
  <%= render 'common/current_user_basic_info' %>
  <!-- 按钮组 -->
  <div class="col-md-12">
    <div class="list-group">
      <p>Daily</p>
      <%= link_to('工作流',admin_feeds_path, class: "list-group-item "+active_class('feeds') ) %>
      <%= link_to('用户管理',admin_users_path, class: "list-group-item "+active_class('users') ) %>
      <%= link_to('团队管理',admin_teams_path, class: "list-group-item "+active_class('teams')) %>
      <%= link_to('项目管理',admin_projects_path, class: "list-group-item "+active_class('projects')) %>
      <%= link_to('技术方向',admin_tag_itskills_path, class: "list-group-item "+active_class('tag_itskills')) %>
      <%= link_to('厂商统计',admin_tag_itvendors_path, class: "list-group-item "+active_class('tag_itvendors')) %>
      <hr>
      <p>企业号-解决方案</p>
      <%= link_to('解决方案',admin_solutions_path, class: "list-group-item "+active_class('solutions')) %>
      <%= link_to('方案标签',admin_solution_tags_path, class: "list-group-item "+active_class('solution_tags')) %>
      <hr>
      <p>企业号-培训资料</p>
      <%= link_to('培训标签',admin_training_tags_path, class: "list-group-item "+active_class('training_tags')) %>
      <%= link_to('培训资料',admin_training_articles_path, class: "list-group-item "+active_class('training_articles')) %>
      <hr>
      <p>企业号-厂商资源</p>      
      <%= link_to('对应厂商',admin_eco_companies_path, class: "list-group-item "+active_class('eco_companies')) %>
      <%= link_to('厂商标签',admin_eco_tags_path, class: "list-group-item "+active_class('eco_tags')) %>
    </div>

  </div>
</div>