

  <!-- 个人信息 -->
  <div class="col-md-12">
    <a href="#" class="thumbnail">
      <!-- 显示当前用户头像 -->
      <%= render 'common/current_user_avatar_xl' %>
    </a>        

    <!-- 用户名和用户昵称 -->
    <h2><%= current_user.name %>#<%= current_user.itcode %></h2>
    <% if current_user.is_admin? %>
      <h3><code>管理员</code></h3> 
    <% end %>  

    <h4><%= current_user.team.present? ? current_user.team.name : nil %></h4>
    <p><%= current_user.title %></p>  

 
    <!-- 显示当前用户等级-->
    <% if current_user.level.present? %>
      <% case current_user.level %>
      <% when '专家' %>
        <p>
          <img src="http://p123oziiu.bkt.clouddn.com/level_s.png" alt="s.png" title="s.png" class="level_sign" />
          <span class="level_info"><em>专家</em></span>
        </p> 
      <% when '高级' %>
        <p>
          <img src="http://p123oziiu.bkt.clouddn.com/level_a.png" alt="a.png" title="a.png" class="level_sign" />
          <span class="level_info"><em>高级</em></span>
        </p>
      <% when '中级' %>
        <p>
          <img src="http://p123oziiu.bkt.clouddn.com/level_b.png" alt="b.png" title="b.png" class="level_sign" />
          <span class="level_info"><em>中级</em></span>
        </p> 
      <% when '初级' %>
        <p>
          <img src="http://p123oziiu.bkt.clouddn.com/level_c.png" alt="c.png" title="c.png" class="level_sign" />
          <span class="level_info"><em>初级</em></span>
        </p>          
      <% end %>

      <!-- 显示当前用户等级-->
    <% end %>


<!--     <p>
      <span class="glyphicon glyphicon-tag" aria-hidden="true"> </span> <kbd>网络</kbd> <kbd>服务器</kbd>
    </p>
    <p>
      <span class="glyphicon glyphicon-bookmark" aria-hidden="true"> </span> <kbd>华为</kbd> <kbd>思科</kbd>
    </p>  -->
    <hr>
  </div>

