<!-- 导航栏 -->
<ol class="breadcrumb">
  <li class="active">全部厂商 <kbd><%= @eco_companies.count %></kbd></li>
</ol>

<%= link_to('+ 新建厂商',new_admin_eco_company_path,class: 'btn btn-primary btn-xs') %>


<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <td>厂商名</td>
      <td>标签</td>
      <td>操作</td>
    </tr>
  </thead>
  <tbody>
    <% @eco_companies.each do |c| %>
    <tr>
      <td><%= link_to(c.name,admin_eco_company_path(c),target: '_blank') %></td>
      <td>
        <% c.eco_tags.each do |t| %>
        <code><%= t.name %></code>
        <% end %>
      </td>
      <td><%= link_to('编辑',edit_admin_eco_company_path(c)) %> | <%= link_to('删除',admin_eco_company_path(c), method: 'DELETE', data: { confirm: "确认删除该方案?" }) %> </td>
    </tr>
    <% end %>
  </tbody>

</table>





