
<%= simple_form_for @project_workflow do |f| %>
  <p class="text-left alert alert-warning"><small>如果系统中无法找到相关项目,请点击 <%= link_to('新建项目',new_project_path) %></small></p>
  <!-- ajax 选择 -->
  <div class="form-group">
    <label><abbr title="required">*</abbr> 项目名</label>
    <select data-live-search="true" data-size=10  name="project_workflow[project_id]" id="project_project_workflow_id" class="selectpicker form-control select required" data-live-search-placeholder="输入项目名进行搜索" data-none-selected-text="输入项目名进行搜索">
      
      <!-- 最近几个参与的历史项目 -->
      <% if @last_projects.present? %>
        <% @last_projects.each do |p| %>
          <option  value=<%= p.id %> ><%= p.sales.name %>#<%= p.code %>#<%= p.name %></option>
        <% end %>
      <% end %>

    </select>
    <!-- <div class="alert alert-warning" role="alert"> -->
      
    <!-- </div> -->    
  </div>    


  <!-- 工作类别 -->
  <label><abbr title="required">*</abbr> 工作类别</label>
  <%= f.input :worktype,label: false,placeholder: "选择工作类别", collection:[['售前','pre_sale'],['售中','in_sale'],['售后','after_sale'],['供货','supply_service'],['单次服务','single_service'],['集成','si_service']] %>



  <%= f.input :content,label: '内容',input_html: { class: "form-control", id: "project_editor",placeholder: "填写具体工作内容"} %>
  <%#= f.input :description, input_html: { class: "form-control"} %>





  <div id="work_display_form">

  <!-- 多选框 -->

  <label id="workflow_companies_label">涉及厂商</label>

  <%= f.association :tag_itvendors,label: false,collection: TagItvendor.order_by_created_at[0..10], as: :check_boxes ,item_wrapper_class: 'inline'  %>

  <%= f.input :other_itvendors,label: false,placeholder: "其他厂商 (以逗号 ',' 分割)"  %>


  <label id="workflow_skills_label">技术方向</label>
  <%= f.association :tag_itskills,label: false,collection: TagItskill.order_by_created_at[0..10], as: :check_boxes ,item_wrapper_class: 'inline'  %>

  <%= f.input :other_itskills,label: false,placeholder: "其他方向 (以逗号 ',' 分割)"  %>

  </div>

  <%= f.input :hours,label: '工作量(小时)', input_html: { class: "form-control"},placeholder: '输入数字' %>



  <div class="form-group">
    <label><abbr title="required">*</abbr> 开始日期</label>
    <%= f.flatpickr_date_select :begin_time,placeholder: "点击选择日期",id: 'flatpickr_begin_time'%>
  </div>
  <div class="form-group">
    <label><abbr title="required">*</abbr> 结束日期</label>
    <%= f.flatpickr_date_select :end_time,placeholder: "点击选择日期",id: 'flatpickr_end_time'%>  
  </div>




  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <%= f.submit "提交", class: "btn btn-primary", data: { disable_with: "提交中..." } %>
  </div>

<% end %>




<script>

$(document).ready(function(){
  // 设置 keyup 延时
  var last;
  // 动态ajax调整下拉框
  $("#project_project_workflow_id").on('shown.bs.select',function(e){
      $('#project_project_workflow_id').prev().find("input").keyup(function(event){
        // 建立时间戳
        last = event.timeStamp;
        // 设置延时500ms 执行 keyup事件
        setTimeout(function() {
          if(last-event.timeStamp==0){

            // 增加 id
            $('#project_project_workflow_id').prev().find("input").attr('id',"project_workflow_id_input");
            // 设置启动 ajax 最少字符数
            if ($('#project_workflow_id_input').val().length>0) {

                  // console.log($('#project_workflow_id_input').val()); //获取输入框值输出到控制台  

                  $.ajax({
                    // get请求地址
                        url: "/api/v1/projects/" + $('#project_workflow_id_input').val(),
                        dataType: "json",
                        success: function (data) {
                          data_arrary = data['data'];
                          // console.log(data_arrary)
                          // 如果是正常的搜到了
                          if (data['stat']==1) {

                          $('.selectpicker').html("");
                            for (var i = 0; i < data_arrary.length; i++) {
                                $('.selectpicker').append("<option value=" + data_arrary[i].id + ">" + data_arrary[i].sales_name + "#"+ data_arrary[i].code+"#"+ data_arrary[i].name + "</option>");
                            };
                            // 缺一不可
                            $('#project_project_workflow_id').selectpicker('refresh');
                            $('#project_project_workflow_id').selectpicker('render');

                          } else {
                            $('.selectpicker').html("");
                            $('.selectpicker').append("<option value=0>未找到</option>");
                          }
                      }
                  });
                }
          }
          // body...
        },500)

      })  
  });


});


// 重新绘图 防止 display:none 的问题
$(".selectpicker").selectpicker();



// 设置当前时间
var nowTime = new Date();
nowTimeFormat = nowTime.getFullYear()+'-'+(nowTime.getMonth()+1)+'-'+nowTime.getDate()
// 日期选择器
$('.flatpicker_date_select').flatpickr({
  wrap: true,
  defaultDate: nowTimeFormat
});




// 编辑器
var editor = new Simditor({
          textarea: $('#project_editor'),
          pasteImage: true,
          toolbar: [
            'bold',
            'italic',
            'underline',
            'strikethrough',  
            'color',        
            'ul',           
            'blockquote',
            'code',        
            'table',
            'link',
            // 'image'
          ],
          pasteImage: false,

          // upload: {url: '/upload'}
      });



</script>